@import "../../constants.sass";

#navbar-logo {
  background: #000;
  color: #fff;
  padding: 10px;
  transform: skew(0deg, -8deg);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#navbar-logo:hover {
  background: $primary;
  color: #fff;
  padding: 10px;
  transform: skew(0deg, 8deg);
}

.navbar .navbar-menu {
  box-shadow: none !important;
}

.navbar .navbar-menu a:hover {
  color: $primary;
  border-bottom: 4px solid $primary;
}

.navbar-burger {
  background-color: #fff;
  border: none;
}
